<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="robots" content="noindex">
    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <script src="js/underscore.js"></script>

    <script src="http://www.parsecdn.com/js/parse-1.2.13.min.js"></script>

    <script src="js/frianbiz.js"></script>



    <title>Frianbiz</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">

    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" type="text/css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="css/animate.min.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/creative.css" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Frianbiz</a>

            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#about">à propos</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Services</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Références</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1>Nous réalisons des services web et des applications mobiles</h1>


                <hr>
                <p> Chaque jour, plus de 100 000 personnes utilisent nos produits</p>
                <!--
                <h1 id="digitalClock"></h1>
                <h2>Date de livraison estimée de votre projet</h2>
                <h4>si vous nous contactez maintenant !</h4>
                <hr>
                <p>Nous concevons et réalisons des applications web et mobile <strong>sur-mesure</strong> depuis 2008.</p>
                -->
                <a href="#about" class="btn btn-primary btn-xl page-scroll">En savoir plus</a>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">14 projets lançés cette année</h2>
                    <hr class="light">
                    <p class="text-faded">Nous sommes une petite équipe efficace de 7 personnes. Nous appliquons des méthodes de développement qui ont fait leurs preuves (Lean, Scrum and Extreme Programming). Nous proposons cette approche itérative à tous nos clients: Grands comptes, marques et startups.</p>



                    <!---<a href="#" class="btn btn-default btn-xl"></a>-->
                </div>

            </div>
        </div>
    </section>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Nos services</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <!--<div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                        <h3>Développement Mobile</h3>
                        <p class="text-muted">Our templates are updated regularly so they don't break.</p>
                    </div>
                </div> -->
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                        <h3>Multi plate-formes</h3>
                        <p class="text-muted">bla bla ios android et full stack front/backend</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                        <h3>Innovation</h3>
                        <p class="text-muted">Beacon, realité augmenté, ....</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                        <h3>Méthodes</h3>
                        <p class="text-muted">You have to make your websites with love these days!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>





    <script type="text/template" id="references-template">
        <% _.each(references, function(ref) { %>
        <div class="col-lg-4 col-sm-6">
            <a href="javascript:void(0)" class="portfolio-box">
                <img src="img/portfolio/<%= ref.image %>" class="img-responsive" alt="">
                <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                            <%= ref.infos %>
                        </div>
                        <div class="project-name">
                            <%= ref.title %>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <% }); %>
    </script>




    <section class="no-padding" id="portfolio">
        <div class="container-fluid">
            <div class="row no-gutter" id="view-goes-here"></div>
        </div>
    </section>

    <br/><br/><br/><br/><br/><br/>

    <section class="no-padding" id="portfolio">
        <div class="container-fluid">
            <div class="row no-gutter">







                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="img/portfolio/avatar-ipad.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    iPad
                                </div>
                                <div class="project-name">
                                    Avatar iPad
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="img/portfolio/geostaff.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Site Web & Backoffice
                                </div>
                                <div class="project-name">
                                    Geostaff
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="img/portfolio/applewatch.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Apple Watch
                                </div>
                                <div class="project-name">
                                    POC iWatch
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="img/portfolio/association.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Site Web & Backoffice
                                </div>
                                <div class="project-name">
                                    Association.fr
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="img/portfolio/cotizasso-game.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Site Web
                                </div>
                                <div class="project-name">
                                    Cotizasso Game
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="img/portfolio/meetup.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    iPhone
                                </div>
                                <div class="project-name">
                                    Orange Meet'up
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="img/portfolio/cotizasso.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Web - iPhone - Android
                                </div>
                                <div class="project-name">
                                    Cotizasso
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="img/portfolio/citroen.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    iPad
                                </div>
                                <div class="project-name">
                                    Citroën Advisor
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="img/portfolio/sportsregions.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Web - iPhone - Android
                                </div>
                                <div class="project-name">
                                    Sports Regions
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="img/portfolio/vinci-stock.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Backoffice
                                </div>
                                <div class="project-name">
                                    Stock Vinci
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="img/portfolio/max.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    iPhone - Android
                                </div>
                                <div class="project-name">
                                    MAX
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="img/portfolio/beacon.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Estimote Beacon
                                </div>
                                <div class="project-name">
                                    Beacon POC
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="img/portfolio/shop-intelligent.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    iPhone
                                </div>
                                <div class="project-name">
                                    Orange - Shop Intelligent
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <aside class="bg-dark">
        <div class="container text-center">
            <div class="call-to-action">
                <!--<h2>+ de références!</h2> -->
                <!--<a href="#" class="btn btn-default btn-xl wow tada">+ de références!</a> -->
                <h4 class="section-heading"><span id="digitalClock"></span></h4>


                <p class="text-faded">Si vous nous contactez maintenant, nous estimons que votre projet sera livrée à cette date. </p>
           </div>
       </div>
   </aside>

   <section id="contact">
       <div class="container">
           <div class="row">
               <div class="col-lg-8 col-lg-offset-2 text-center">
                   <h2 class="section-heading">Parlez-nous de votre projet!</h2>
                   <hr class="primary">
                   <p>Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
               </div>
               <div class="col-lg-4 col-lg-offset-2 text-center">
                   <i class="fa fa-phone fa-3x wow bounceIn"></i>
                   <p>09 72 11 30 80</p>
               </div>
               <div class="col-lg-4 text-center">
                   <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                   <p><a href="mailto:contact@frianbiz.com">contact@frianbiz.com</a></p>
               </div>
           </div>
       </div>
   </section>


    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/jquery.fittext.js"></script>
    <script src="js/wow.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/creative.js"></script>

</body>

</html>

<script type="text/javascript">
    function updateWorked() {
        var date = new Date();
        date.setMonth( date.getMonth( ) + 2 );
        var time = 'le '+convertDate(date)+' à '+pad(date.getHours())+'h'+pad(date.getMinutes())+':'+pad(date.getSeconds());
        document.getElementById('digitalClock').innerHTML = time;
        setTimeout('updateWorked()',1000);
    }

    function convertDate(inputFormat) {

        var d = new Date(inputFormat);
        //return [pad(d.getDate()), pad(d.getMonth()+1), d.getFullYear()].join('/');
        return [pad(d.getDate()), pad(d.getMonth()+1)].join('/');
    }
    function pad(s) { return (s < 10) ? '0' + s : s; }


    $(document).ready(function() {
        updateWorked();
    });
</script>
